p = link_to :users, users_path
p = link_to :groups, groups_path
p = link_to :topics, topics_path
p = link_to :topic_categories, topic_categories_path
p = link_to :tasks, tasks_path
p = link_to :task_categories, task_categories_path
p = link_to :messages, messages_path
p = link_to :schedules, schedules_path
